body {
    height: 100%;
    margin: 0;
    background-color: #f9c5bd;
    color: #333333;
    text-align: center;
}

text {
    font-size: 170px;
}

h1 {
    font-size: 105px;
}

#customFileInputText {
    font-size: 80px;
}

#listButton {
    width: 650px;
    border: solid;
    border-radius: 30px;
    font-size: 80px;
    background-color: #333333;
    color: #CCCCCC;
}

#fileContent {
    font-size: 200px;
    margin-top: 140px;
}